@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    background: #1a1a1a;
    z-index: 100;
    transition: all 0.5s ease;
    animation: show 1s linear forwards;
    animation-delay: 1s;
}

.sidebar.close 
{
    width: 78px;
}

.sidebar .logo-details .logo
{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 1;
}

.sidebar.close .logo-details .logo
{
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar .logo-details i
{
    font-size: 30px;
    color: white;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name
{
    font-size: 22px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name
{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar #btn
{
    position: absolute;
    color: white;
    top: 6px;
    left: 85%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.close #btn
{  
    left: 50%;
}

.sidebar .nav-links
{
    height: 100%;
    padding-top: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links
{
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar
{
    display: none;
}

.sidebar .nav-links li
{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover
{
    background: #2c2c2c;
}

.sidebar .nav-links li .iocn-link
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link
{
    display: block;
}

.sidebar .nav-links li i, .sidebar .nav-links .sub-menu li i
{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.sidebar .nav-links li.showMenu i.arrow, .sidebar .nav-links .sub-menu li.showMenuSub i.arrow-sub
{
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow, .sidebar.close .nav-links .sub-menu i.arrow-sub
{
    display: none;
}

.sidebar .nav-links li a, .sidebar .nav-links .sub-menu li a
{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name, .sidebar .nav-links .sub-menu li a .link_name
{
    font-size: 18px;
    font-weight: 400;
    color: white;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name, .sidebar.close .nav-links .sub-menu li a .link_name
{
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu, .sidebar .nav-links .sub-menu li .sub-sub-menu
{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #2c2c2c;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu, .sidebar .nav-links .sub-menu li.showMenuSub .sub-sub-menu
{
    display: block;
}

.sidebar .nav-links li .sub-menu a, .sidebar .nav-links .sub-menu li .sub-sub-menu a
{
    color: white;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}

.sidebar .nav-links li .sub-menu a:hover, .sidebar .nav-links .sub-menu li .sub-sub-menu a:hover
{
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu, .sidebar.close .nav-links .sub-menu li .sub-sub-menu
{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    /*transition: all 0.4 ease;*/
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu, .sidebar.close .nav-links .sub-menu li:hover .sub-sub-menu
{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name, .sidebar .nav-links .sub-menu li .sub-sub-menu .link_name
{
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name, .sidebar.close .nav-links .sub-menu li .sub-sub-menu .link_name
{
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank, .sidebar .nav-links .sub-menu li .sub-sub-menu.blank
{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank, .sidebar .nav-links .sub-menu li:hover .sub-sub-menu.blank
{
    top: 50%;
    transform: translateY(-50%);
}

.elapsed
{
    height: 100%;
    width: calc(100% - 350px);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background: #969595;
    height: 100vh;
    left: 350px;
    transition: all 0.5s ease;
    color: white;
    font-size: 35px;
    
}

.sidebar.close ~ .elapsed
{
    left: 78px;
    width: calc(100% - 78px);
}

#img
{
    margin-top: 10vw;
    position: relative;
    z-index: 3;
    height: 100%;
    width: 35%;
}

.pdf
{
    width: 800;
    height: 500;
}